.container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.title {
    font-size: 36px;
    margin-bottom: 20px;
}

.infoSection {
    margin-bottom: 15px;
}

.actions {
    margin-top: 30px;
}

.editLink {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 10px;
    display: inline-block;
}

.editLink:hover {
    background-color: darkblue;
}

.backLink {
    color: blue;
    text-decoration: none;
}

.backLink:hover {
    text-decoration: underline;
}