.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalBox {
    width: 500px;
    background-color: rgb(228, 227, 227);
    padding: 30px;
    border-radius: 5px;
    margin: 0 20px;
}

.modalTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.modalText {
    margin-bottom: 25px;
    line-height: 1.5;
}

.modalActions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.cancelButton {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}

.cancelButton:hover {
    background-color: rgb(240, 240, 240);
}

.deleteButton {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: darkred;
}