.createButton {
    padding: 10px 20px;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
}

.createButton:hover {
    cursor: pointer;
}